body 
{
    background-color: whitesmoke;

}
h1{
    text-align: center;
    text-shadow: silver 2px 2px;
    z-index: -2;
}
.me{
    font-family: 'Readex Pro';
    font-size: 40px;
    background-color: silver;
    box-shadow: #444 2px 2px;
}

.abtme{
    
    font-family: 'Readex Pro';
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 320px;
    font-size: 18px;
    text-shadow: silver 2px 2px;
}
@media(max-width:900px){
    .abtme{
        margin: auto;
        align-items: center;
    }
}

#myself{
   
    margin-top: 40px;
    width: 20%;
    height: 20%;
    border-radius: 80%;
    outline-offset: 4px;
    outline-width: 4px;
    outline-style:solid;
    color: black;
    box-shadow: gold 10px 10px;
    z-index: 1;
    
}
@media (max-width: 900px) {
    #myself{
     margin-top: -160px;
     margin-left: 250px;
     }
 }

.welcome{
    font-family: 'Readex Pro';
    margin-top: -200px;
    margin-right: 500px;
}
@media (max-width:900px){
    .welcome{
        margin: auto;
    }
}



main{
    background-color: seashell;
    z-index: -2;
}
nav{ 
    margin-bottom: -15px;
    background-color: gray;
    margin-top: -70px;
    z-index: -1;
}
nav:hover{
    background-color: whitesmoke;
    outline: maroon;
    outline-width: 10px;
    outline-offset: 10px;
}

.right{
    padding-top: 20px;
    font-family: 'Readex Pro';
    font-size: 20px;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 900px) {
    .right {
      flex-direction: column;
    }

    
}
#link{
    
    outline-style: solid;
    outline-color: black;
    outline-width: 4px;
    text-decoration: none;
   

}
@media (max-width: 900px) {
    #link {
      outline: none;
      text-decoration:underline;
    }
}
#tic{
    font-size: 30px;
    font-family: 'Readex Pro';
    background-color: transparent;
    border-radius: 20%;
}
#tic:hover{
    background-color: maroon;
}   
#will{
    font-size: 30px;
    font-family: 'Readex Pro';
    background-color: transparent;
    border-radius: 20%;
}
#will:hover{
    background-color: maroon;
}  
#slot{
    font-size: 30px;
    font-family: 'Readex Pro';
    background-color: transparent;
    border-radius: 20%;
}
#slot:hover{
    background-color: maroon;
}  
#calc{
    font-size: 30px;
    font-family: 'Readex Pro';
    background-color: transparent;
    border-radius: 20%;
}
#calc:hover{
    background-color: maroon;
}  


#link:link, #link:visited{
    color: black;
}
#link:hover{
    color:maroon;
    background-color: black;
    outline-color: maroon;
}

.my_links{
    list-style: none;
    font-size: 30px;
    font-family: 'Readex Pro';
}

.linkz{
  
    list-style: none;
    font-size: 30px;
    font-family: 'Readex Pro';
    background-color: whitesmoke;
    outline-offset: 10px;
    outline-style: solid;
    outline-width: 4px;
    outline-color: black;
}


 #gh{
    text-decoration: none;
    list-style: none;
    font-size: 60px;
}
#gh:visited{
    color: black;
}
#gh:hover{
    color: rgb(93, 5, 5);
}
@media(max-width:600px){
    #gh{
        font-size: 90%;
    }
}
#tt{
    text-decoration: none;
    list-style: none;
    font-size: 60px;
}
#tt:visited{
    color: black;
}
#tt:hover{
    color: rgb(93, 5, 5);
}
@media(max-width:600px){
    #tt{
        font-size: 90%;
    }
}
#sm{
    text-decoration: none;
    list-style: none;
    font-size: 60px;
}
#sm:visited{
    color: black;
}
#sm:hover{
    color: rgb(93, 5, 5);
}
@media(max-width:600px){
    #sm{
        font-size: 90%;
    }
}
/* #rl{
    text-decoration: none;
    list-style: none;
    font-size: 60px;
}
#rl:visited{
    color: black;
}
#rl:hover{
    color: rgb(93, 5, 5);
}
@media(max-width:600px){
    #rl{
        font-size: 90%;
    }
} */
#ca{
    text-decoration: none;
    list-style: none;
    font-size: 60px;
}
#ca:visited{
    color: black;
}
#ca:hover{
    color: rgb(93, 5, 5);
}
@media(max-width:600px){
    #ca{
        font-size: 90%;
    }
}
#re{
    text-decoration: none;
    list-style: none;
    font-size: 60px;
}
#re:visited{
    color: black;
}
#re:hover{
    color: rgb(93, 5, 5);
}
@media(max-width:600px){
    #re{
        font-size: 90%;
    }
}
#pm{
    text-decoration: none;
    list-style: none;
    font-size: 60px;
}
#pm:visited{
    color: black;
}
#pm:hover{
    color: rgb(93, 5, 5);
}
@media(max-width:600px){
    #pm{
        font-size: 90%;
    }
}
#fb{
    text-decoration: none;
    list-style: none;
    font-size: 60px;
}
#fb:visited{
    color: black;
}
#fb:hover{
    color: rgb(93, 5, 5);
}
@media(max-width:600px){
    #fb{
        font-size: 90%;
    }
}


.about{
    font-family: 'Readex Pro';
}
@media (max-width: 900px) {
   .about{
    
    margin: auto;
    margin-top: 80px;
    }
}


#home-btn{
    position: absolute;
    left: 8px;
    top: 130px;
    width: 40px;
    height: 44px;
    z-index: 1;
    background: transparent;
    border: none !important;
}

#home{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    left: 0px;
    top: 6px;
    background-color: whitesmoke;
    outline-width: 2px;
    outline-style: solid;
    outline-color: black;
}


@media (max-width: 900px) {
    #home {
   background-color: white;
    width: 30px;
    height: 30px;
    }
}
.contact_list{
    list-style: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    outline-width: 4px;
    outline-color: black;
    outline-style: solid;
    align-items: center;
}
.ct{
    background-color: gray;
    
}

.contact_info{
    
    font-family: 'Readex Pro';
    font-size: 20px;
    background-color: gray;
    outline-style: groove;
    outline-width: 4px;
    outline-color: black;
}

.contact_button{
    margin-top: 10px;
    font-family: 'Readex Pro';
    background-color: maroon;
    outline-style: groove;
    outline-width: 2px;
    outline-color: black;
}
#id_name, #id_email, #id_phone, #id_buisness, #id_title{
    font-family: 'Readex Pro';
    background-color: whitesmoke;
    font-size: 20px;
}
#alias{
    background-color: whitesmoke;
}
#comment{
    background-color: whitesmoke;
}
#rating{
    background-color: gold;
}

.review_info{
    font-family: 'Readex Pro';
    background-color: gray;
    outline-style: groove;
    outline-width: 4px;
    outline-color: black;
}
@media(max-width:440px){
    #id_comment{
        width: 90%;
    }
}



.review_button{
    margin-top: 10px;
    font-family: 'Readex Pro';
    background-color: maroon;
   
}


.connect{
    margin-top: 50px;
    display: flex;
    background-color: whitesmoke;
    outline-style: groove;
    outline-width: 4px;
    outline-color: black;
}


.con_form{
    margin-top: -60px;
    
}


.leave_info{
    position: relative;
    font-size: 40px;
    font-family: 'Readex Pro';
    flex: auto;
    justify-content: space-evenly;
    left: 0px;
    
}
@media(max-width: 715px){
    .leave_info{
        font-size: 98%;
    }
}
.or{
    position: relative;
    font-size: 40px;
    font-family: 'Readex Pro';
    text-align: center;
    flex: auto;
    justify-content: space-evenly;
    right: 30px;
}
@media(max-width: 900px){
    .or{
        text-align: center;
        font-size: 20px;
        margin-left: 50px;
        text-shadow: gray 2px 2px;
    }
}

.take_info{
    position: relative;
    font-size: 40px;
    font-family: 'Readex Pro';
    flex: auto;
    justify-content: space-evenly;
    text-align: right;
    text-decoration: none;
    list-style: none;
}
@media(max-width: 715px){
    .take_info{
        font-size: 98%;
    }
}


.add_rev{
    font-family: 'Readex Pro';
}
.review_note{
    font-family: 'Readex Pro';
    
}
.rev{
    font-family: 'Readex Pro';
    text-align: center;
    font-size: 40px;
    background-color: white;
    outline-width: 4px;
    outline-style: solid;
    outline-offset: -10px;
    outline-color: black;
}

.rev_box{
    list-style-type: none;
    font-size: 20px;
    font-family: 'Readex Pro';
    background-color: whitesmoke;
    outline-width: 4px;
    outline-style: solid;
    outline-color: black;
}
.rev_box li{
    outline-width: 2px;
    outline-style: solid;
    outline-color: black;
    background-color: white;
}




.contact{
    margin-top: 20px;
    margin-bottom: 80px;
}
@media(max-width: 900px){
    .contact{
        margin-bottom: 80px;
    }
}
.linkedI{
    font-size: 30px;
    text-shadow: gray 2px 2px;
    display: flex;
    font-family: 'Readex Pro';
    align-items: left;
    justify-content: left;
}
@media(max-width: 900px){
    .linkedI{
        font-size: 30px;
        text-shadow: gray 2px 2px;
    }
}
/* .pointer{
    display: flex;
    justify-content: center;
    margin-top: -120px;
    margin-bottom: 100px;
    font-size: 40px;
    font-family: 'Readex Pro';
}
@media(max-width: 900px){
    .pointer{
        display: flex;
        justify-content: center;
        font-size: 30px;
        text-shadow: gray 2px 2px;
    }
} */

.email{
    margin-bottom: 10px;
    font-size: 30px;
    text-shadow: gray 2px 2px;
    display: flex;
    font-family: 'Readex Pro';
    align-items: left;
    justify-content: left;
}
@media(max-width: 900px){
    .email{
        
        font-size: 30px;
        margin-bottom: -20px;
        text-shadow: gray 2px 2px;
    }
}

.iEmail{
    margin-top: -40px;
    font-size: 20px;
    display: flex;
    font-family: 'Readex Pro';
    align-items: right;
    justify-content: right;
    color: transparent;
}
@media(max-width: 715px){
    .iEmail{
        font-size: 98%;
    }
}
.iEmail:hover{
    color: black;
    text-shadow: gray 2px 2px;
}
.l{
    color: transparent;
    margin-top: -35px;
    font-size: 20px;
    display: flex;
    font-family: 'Readex Pro';
    align-items: right;
    justify-content: right;
    margin-right: 80px;
    text-decoration: none;
  
}
@media(max-width: 715px){
    .l{
        color: transparent;
        font-size: 98%;
        margin-left: 50px;
    }
}
    .l:hover{
        color: black;
        text-shadow: gray 2px 2px;
    }

/* .email{
    position: relative;
    font-size: 40px;
    font-family: 'Readex Pro';
    text-align: center;
    flex: auto;
    justify-content: space-evenly;
    
}
@media(max-width: 900px){
    .email{
        text-align: center;
        font-size: 20px;
        margin-left: 50px;
        text-shadow: gray 2px 2px;
    }
}
@media(max-width: 900px){
    .email{
        font-size: 20px;
        margin-left: 310px;
    }
}
@media(max-width: 593px){
    .email{
            color: black;
            margin-top: 200px;
            font-size: 20px;
            margin-left: 0px;
        }
    }
.iEmail{
    margin-top: 40px;
    color: transparent;
    text-align: center;
    margin-left: 675px;
    font-family: 'Readex Pro';
    display: flex;
    list-style-type: none;
    display: grid;
    justify-content:center
}
@media(max-width: 594px){
    .iEmail{
        color: black;
        margin-top: 200px;
        font-size: 20px;
        margin-left: 310px;
    }
}
@media(max-width: 593px){
    .iEmail{
        margin-top: 200px;
        font-size: 20px;
        margin-left: 80px;
        }
    }
    .iEmail:hover{
        color: black;
        font-size: 20px;
        margin-left: 310px;
    }
   
#l{
    text-decoration: none;
    color: black;
    text-align: center;
    margin-top: 80px;
    margin-left: 645px;
}
@media(max-width: 900px){
    #l{
        margin-left: 0px;
        font-size: 20px;
    }
}
#l:hover{
    color:maroon;
} */

/* .em{
    color: transparent;
    margin-left: 165px;
}
.em:hover{
    color: black;
}
@media(max-width: 900px){
    .em{
        
        font-size: 20px;
        margin-left: 50px;
    }
} */



/* @media(max-width: 593px){
    #l{
            color: black;
            margin-top: 220px;
            font-size: 20px;
            position: absolute;
        }
    } */



