body 
{
    background-color: whitesmoke;
   
}
h1{
    text-align: center;
    text-shadow: silver 2px 2px;
    z-index: -2;
}
.me{
    font-family: 'Readex Pro';
    font-size: 40px;
    background-color: silver;
    box-shadow: #444 2px 2px;
}

.abtme{
    font-family: 'Readex Pro';
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 320px;
    font-size: 18px;
}

#myself{
   
    margin-top: 40px;
    width: 20%;
    height: 20%;
    border-radius: 80%;
    outline-offset: 4px;
    outline-width: 4px;
    outline-style:solid;
    color: black;
    box-shadow: gold 10px 10px;
    z-index: 1;
    
}
.welcome{
    font-family: 'Readex Pro';
    margin-top: -200px;
    margin-right: 500px;
}


main{
    background-color: seashell;
    z-index: -2;
}
nav{ 
    margin-bottom: -15px;
    background-color: gray;
    margin-top: -70px;
    z-index: -1;
}
nav:hover{
    background-color: whitesmoke;
    outline: maroon;
    outline-width: 10px;
    outline-offset: 10px;
}

.right{
    padding-top: 20px;
    font-family: 'Readex Pro';
    font-size: 20px;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 900px) {
    .right {
      flex-direction: column;
      width: 50%;
    }

    
}
#link{
    
    outline-style: solid;
    outline-color: black;
    outline-width: 4px;
    text-decoration: none;
   

}
@media (max-width: 900px) {
    #link {
      outline: none;
      text-decoration:underline;
      width: 50%;
    }
}
#tic{
    font-size: 30px;
    font-family: 'Readex Pro';
    background-color: transparent;
    border-radius: 20%;
}
#tic:hover{
    background-color: maroon;
}   
#will{
    font-size: 30px;
    font-family: 'Readex Pro';
    background-color: transparent;
    border-radius: 20%;
}
#will:hover{
    background-color: maroon;
}  
#slot{
    font-size: 30px;
    font-family: 'Readex Pro';
    background-color: transparent;
    border-radius: 20%;
}
#slot:hover{
    background-color: maroon;
}  
#calc{
    font-size: 30px;
    font-family: 'Readex Pro';
    background-color: transparent;
    border-radius: 20%;
}
#calc:hover{
    background-color: maroon;
}  


#link:link, #link:visited{
    color: black;
}
#link:hover{
    color:maroon;
    background-color: black;
    outline-color: maroon;
}

.my_links{
    list-style: none;
    font-size: 30px;
    font-family: 'Readex Pro';
}
.linkz{
  
    list-style: none;
    font-size: 30px;
    font-family: 'Readex Pro';
    background-color: whitesmoke;
    outline-offset: 10px;
    outline-style: solid;
    outline-width: 4px;
    outline-color: black;
}


 #gh{
    text-decoration: none;
    list-style: none;
    font-size: 60px;
}
#gh:visited{
    color: black;
}
#gh:hover{
    color: rgb(93, 5, 5);
}
#tt{
    text-decoration: none;
    list-style: none;
    font-size: 60px;
}
#tt:visited{
    color: black;
}
#tt:hover{
    color: rgb(93, 5, 5);
}
#sm{
    text-decoration: none;
    list-style: none;
    font-size: 60px;
}
#sm:visited{
    color: black;
}
#sm:hover{
    color: rgb(93, 5, 5);
}
#rl{
    text-decoration: none;
    list-style: none;
    font-size: 60px;
}
#rl:visited{
    color: black;
}
#rl:hover{
    color: rgb(93, 5, 5);
}
#ca{
    text-decoration: none;
    list-style: none;
    font-size: 60px;
}
#ca:visited{
    color: black;
}
#ca:hover{
    color: rgb(93, 5, 5);
}
#re{
    text-decoration: none;
    list-style: none;
    font-size: 60px;
}
#re:visited{
    color: black;
}
#re:hover{
    color: rgb(93, 5, 5);
}
#pm{
    text-decoration: none;
    list-style: none;
    font-size: 60px;
}
#pm:visited{
    color: black;
}
#pm:hover{
    color: rgb(93, 5, 5);
}
#fb{
    text-decoration: none;
    list-style: none;
    font-size: 60px;
}
#fb:visited{
    color: black;
}
#fb:hover{
    color: rgb(93, 5, 5);
}


.abt{
    font-family: 'Readex Pro';
    background-color: whitesmoke;
    outline-color: bisque;
    outline-width: 4px;
    outline-style: solid;
}



#home-btn{
    position: absolute;
    left: 8px;
    top: 130px;
    width: 40px;
    height: 44px;
    z-index: 1;
    background: transparent;
    border: none !important;
}

#home{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    left: 0px;
    top: 6px;
    background-color: whitesmoke;
    outline-width: 2px;
    outline-style: solid;
    outline-color: black;
}


@media (max-width: 900px) {
    #home {
   background-color: white;
    width: 30px;
    height: 30px;
    width: 50%;
    }
}
.contact_list{
    list-style: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    outline-width: 4px;
    outline-color: black;
    outline-style: solid;
    align-items: center;
}
.ct{
    background-color: gray;
    
}

.contact_info{
    
    font-family: 'Readex Pro';
    font-size: 20px;
    background-color: gray;
    outline-style: groove;
    outline-width: 4px;
    outline-color: black;
}

.contact_button{
    margin-top: 10px;
    font-family: 'Readex Pro';
    background-color: maroon;
    outline-style: groove;
    outline-width: 2px;
    outline-color: black;
}
#id_name{
    font-family: 'Readex Pro';
    background-color: whitesmoke;
    font-size: 20px;
}
#id_email{
    font-family: 'Readex Pro';
    background-color: whitesmoke;
    font-size: 20px;
}
#id_phone{
    font-family: 'Readex Pro';
    background-color: whitesmoke;
    font-size: 20px;
}
#id_buisness{
    font-family: 'Readex Pro';
    background-color: whitesmoke;
    font-size: 20px;
}
#id_title{
    font-family: 'Readex Pro';
    background-color: whitesmoke;
    font-size: 20px;
}

#alias{
    background-color: whitesmoke;
}
#comment{
    background-color: whitesmoke;
}
#rating{
    background-color: gold;
}

.review_info{
    font-family: 'Readex Pro';
    background-color: gray;
    outline-style: groove;
    outline-width: 4px;
    outline-color: black;
}

.review_button{
    margin-top: 10px;
    font-family: 'Readex Pro';
    background-color: maroon;
   
}

.connect{
    margin-top: 50px;
    display: flex;
    background-color: whitesmoke;
    outline-style: groove;
    outline-width: 4px;
    outline-color: black;
}



.con_form{
    margin-top: -60px;
}


.my_info{
    font-size: 40px;
    font-family: 'Readex Pro';
    display: flex;
    list-style-type: none;
    display: grid;
    justify-content:center
}

.leave_info{
    position: relative;
    font-size: 40px;
    font-family: 'Readex Pro';
    flex: auto;
    justify-content: space-evenly;
    left: 0px;
}
@media(max-width:800px){
    .leave_info{
        font-size: 60%;
    }
}
.or{
    position: relative;
    font-size: 40px;
    font-family: 'Readex Pro';
    text-align: center;
    flex: auto;
    justify-content: space-evenly;
    right: 30px;
}
@media(max-width: 900px){
    .or{
        text-align: center;
        font-size: 20px;
        margin-left: 50px;
        text-shadow: gray 2px 2px;
        width: 50%;
    }
}

.take_info{
    position: relative;
    font-size: 40px;
    font-family: 'Readex Pro';
    flex: auto;
    justify-content: space-evenly;
    text-align: right;
    
}
@media(max-width:800px){
    .take_info{
        font-size: 60%;
        position: null;
    }
}


.add_rev{
    font-family: 'Readex Pro';
}
.review_note{
    font-family: 'Readex Pro';
    
}
.rev{
    font-family: 'Readex Pro';
    text-align: center;
    font-size: 40px;
    background-color: white;
    outline-width: 4px;
    outline-style: solid;
    outline-offset: -10px;
    outline-color: black;
}

.rev_box{
    list-style-type: none;
    font-size: 20px;
    font-family: 'Readex Pro';
    background-color: whitesmoke;
    outline-width: 4px;
    outline-style: solid;
    outline-color: black;
}
.rev_box li{
    outline-width: 2px;
    outline-style: solid;
    outline-color: black;
    background-color: white;
}
@media(max-width:800px){
    .rev_box{
        font-size: 60%;
    }
}


.em{
    color: transparent;
    margin-left: 165px;
}
.em:hover{
    color: black;
}
@media(max-width: 900px){
    .em{
        width: 50%;
        font-size: 20px;
        margin-left: 50px;
    }
}



.email{
    color: black;
    text-align: center;
    margin-left: 675px;
    position: fixed;
}
@media(max-width: 900px){
    .email{
        font-size: 20px;
        margin-left: 310px;
        width: 50%;
    }
}
.iEmail{
    margin-top: 40px;
    color: transparent;
    text-align: center;
    margin-left: 675px;
    position: fixed;
}
@media(max-width: 698px){
    .iEmail{
        color: transparent;
        font-size: 20px;
        margin-left: 310px;
        width: 50%;
    }
    .iEmail:hover{
        color: black;
        font-size: 20px;
        margin-left: 310px;
    }
    .em{
        display: none;
    }
}

#l{
    text-decoration: none;
    color: black;
    text-align: center;
    margin-top: 80px;
    margin-left: 645px;
    
    position: fixed;
   
}
#l:hover{
    color:maroon;
}

@media(max-width: 900px){
    #l{
        margin-left: 310px;
        font-size: 20px;
        width: 50%;
    }
}






