{% extends 'base.html' %}
{% load static %}
{% block content %}

    
    
    <img id = "myself" type="image/png" src = "{% static '/me.jpeg' %}"> 
    <div class="circle"></div>
    <h1 class = "welcome">Glad you could make it!</h1> 
    <div class = "abtme">
       
        <p class = 'about'>My name is James Fox, I am a Fullstack Software Engineer with a mindset geared towards functionality, presentability, and efficiency.
           I have experience creating and designing pages and apps just like this one from front to backend.
           Technology and design has always been a passion of mine and to make it a real career has been truly rewarding.<br><br>
           As a Fullstack Engineer I've come to understand the objective is not always worth sprinting towards, without proper intent, direction, and organziation.
           With that, I've found that working meticulously, with purpose, and with a solid foundation has become the best approach.
           The joy of seeing all the pieces come together and execute as intended makes all of the hard work worthwhile.<br><br>
           With this being such a diverse field I find communication to be one of our best tools for bringing together a truly remarkable project.
           That being said I have a background that has required me to follow that truth and the technical skills have followed as a result.</p>
      
        <p class = 'about'>Take a look around the site and tell me what you think!</p>
        <p class = 'about'>I look forward to hearing from you and thank you for stopping by.</p>
        
    </div>

    

{% endblock %}