{% extends 'base.html' %}

{% block content %}
  <h1 class = 'add_rev'>Add review</h1>

  <div class ='review_note'>
    <p>If you have some time to voice your thoughts on what you think of the site I would greatly appreciate it! </p>
    <p>If you would like to stay anonymous feel free to use an alias. If you'd like to get in touch check out the contact tab above.</p>
    </div>
  <form class = 'review' method="POST" action="{% url 'create_review' %}" >
    {% csrf_token %}
    <table class="review_info">
      {{ rev_form }}
    </table>
    <input type ="submit" value = "Submit review" class = "review_button">
  </form>
    
{% endblock %}


